.container__blog{
    display: flex;
    justify-content: space-between;
    margin-top: 142px;
}
.container__blog-info{
    width: 750px;
}
.container__blog-info-img{
    width: 750px;
    height: 442px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 41px;
}
.container__blog-info-img button{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    background-color: #fd5a5a;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.container__blog-info-img button:hover{
    background-color:#0fc392;
}
.container__blog-info--heading{
    margin-bottom: 33px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}
.container__blog-info--person{
    display: flex;

}
.container__blog-info--person-by{
    margin-right: 50px;
    color: #646464;
}
.container__blog-info--person-by span{
    color: #fd5a5a;
    margin-right: 5px;
}
.container__blog-info--person-paragrap{
    color: #646464;
    font-weight: 600;
    line-height: 25px;
    margin-top: 33px;
    font-size: 15px;
    margin-bottom: 33px;
}
.container__blog-info--link{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 60px;
    display: block;
}
.container__blog-info--link span{
    margin-left: 10px;
    margin-top: 5px;
}
.container__blog-info--link:hover{
    color: #fd5a5a;
}
.container__option-search{
    width: 360px;
    height: 140px;
    background-color: #f7f7f7;
    line-height: 140px;
    position: relative;
    margin-bottom: 30px;
}
.container__option-search--input{
    width: 300px;
    height: 60px;
    margin: 0 auto;
    background-color: white;
    border: none;
    margin-left: 28px;
    padding-left: 22px;
    text-transform: uppercase;
    outline: none;
    
}
.container__option-search span{
    width: 30px;
    height: 60px;
    position: absolute;
    right: 35px;
    cursor: pointer;
    font-size: 20px;

}
.container__option-search span:hover{
    color: #fd5a5a;
}
.eventdeail__add-item{
    width: 357px;
    height: 388px;
    border: 0.5px solid #646464;
    margin-bottom: 20px;
}
.evendetail__add-info{
    padding: 26px;
    /* margin-bottom: 20px; */
}
.evendetail__add-info--heading{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
}
.evendetail__add-info--group{
    height: 66px;
    display: flex;
    justify-content: space-between;
    line-height: 66px;
    border-bottom: 1px solid #646464;
    font-weight: 500;
    color: #646464;
}
.blog__ecent{
    width: 361px;
    height: 500px;
    border: 1px solid #646464;
    margin-bottom: 22px;
}
.blog__ecent-heading{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 30px;
}
.blog__ecent-item{
    margin-left: 30px;
    margin-right: 30px;
    width: 300px;
    height: 154px;
    border-bottom: 1px solid #646464;
    display: flex;
    justify-content: space-between;
}
.blog__ecent-item img{
    width: 92px;
    height: 92px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 5px;
    object-position: center;
}
.blog__ecent-item--info{
    width: 187px;
    
}
.blog__ecent-item--info-heading{
    line-height: 26px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}
.blog__ecent-item--info-para{
    margin-top: 22px;
}
.blog__tag{
    width: 361px;
    height: 284px;
    border:1px solid #646464;
}
.blog__tag-item{
    margin: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.blog__tag-heading{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.blog__tag-link{
    display: block;
    text-decoration: none;
    margin-right: 10px;
    padding: 15px;
    color: black;
    font-weight: 600;
    background-color: #c0c0c0;
    margin-bottom: 10px;
}
.blog__tag-link:hover{
    background-color: #fd5a5a;
    color: white;
}