.container__gallery{
    height: 1683px;
}
.gallery__option{
    margin-top: 116px;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.gallery__option-btn{
    margin: 6px;
    border: none;
    background: none;
    outline: none;
    color: #333;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}
.gallery__option-btn:hover{
    background-color: #fd5a5a;
    color: white;
    border: 1px solid #fd5a5a;
}
.gallery__library{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery__library-item{
    width: 360px;
    height: 428px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
    margin-bottom: 35px;

}
.gallery__libary-item--hover{
    background-color: rgba(253, 90, 90,0.8);
    width: 360px;
    height: 428px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    position: relative;
    display: none;
}
.gallery__libary-item--icon{
    width: 80px;
    height: 80px;
    border: 2px white;
    border-style: dashed;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 140px;
}
.gallery__libary-item--icon i{
    line-height:80px ;
    color: white;
    font-size: 25px;
}
.gallery__library-item:hover .gallery__libary-item--hover{
    display: block;
}
